@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

.container {
  min-width: 360px;
  max-width: 576px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

pre {
  background-color: unset !important;
  padding: 0 !important;
}

pre > div {
  border-radius: 0.5em !important;
  background: rgb(29, 31, 33) !important;
}

p > code {
  border-radius: 0.3em !important;
  background: rgba(175, 184, 193, 0.2) !important;
}

.work-keep-all {
  word-wrap: break-word;
  word-break: keep-all;
}

.animate-head-shake {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: headShake;
  animation-timing-function: ease-in-out;
}

@keyframes headShake {
  0% {
    transform: translateX(0);
  }

  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    transform: translateX(0);
  }
}
