# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Q.Link Build

on:
  workflow_dispatch:
#   push:
#     branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - name: Checkout main branch
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
        
    - name: Cache node modules
      uses: actions/cache@v2
      with:
        path: ./action/node_modules
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: ${{ runner.os }}-yarn-
        
    - name: Install
      run: yarn
      
    - name: Cache build file
      uses: actions/cache@v2
      id: cache_dist
      with:
        path: .next
        key: ${{ runner.os }}-dist-${{ hashFiles('**/BUILD_ID') }}
        restore-keys: ${{ runner.os }}-dist-${{ hashFiles('**/BUILD_ID') }}

    - name: Build
      if: steps.cache_dist.outputs.cache-hit != 'true'
      run: yarn build
      env:
        NEXT_PUBLIC_DEMO_URL: ${{ secrets.NEXT_PUBLIC_DEMO_URL }}
        
    - uses: EndBug/add-and-commit@v9
      with:
        add: '.next --force'
        default_author: github_actions
        new_branch: product
        pathspec_error_handling: exitImmediately
